$block: "careers-page";

.#{$block} {
  &__container {
    &--img-collage {
      flex-direction: row;

      .#{$block} {
        &__two-img-wrap {
          width: calc(100% / 2);
          height: rem-calc(625px);
      
          .#{$block} {
            &__img-item-1 {
              position: relative;
              width: rem-calc(325px);
              height: rem-calc(325px);
            }

            &__img-item-2 {
              position: absolute;
              top: rem-calc(65px);
              right: rem-calc(15px);
              width: rem-calc(250px);
              height: rem-calc(450px)
            }
          }  
        }
  
        &__single-img {
          width: calc(100% / 2.2); 
          padding-left: 1rem;
          height: 100%;
          position: relative;
          left: 0;
          right:0;

          margin: auto 0;

          img {
            display: block;
          }
        }
      }
    }
  }
}