$block: "careers-page";

.#{$block} {
  &__container {
    &--offices {
      .#{$block} {      
        &__locations-container {
          .#{$block} {
            &__location-wrapper {
              .#{$block} {
                &__img-wrapper {
                  img {
                    img {
                      height: rem-calc(450px);
                    }
                  }
                }
                &__details-wrapper {
                  padding: 1rem 0;
  
                  h2 {
                  }
                  h4 {
                  }
  
                  p {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}