$block: "careers-page";

.#{$block} {
  position: relative;

  &__sticker-wrapper {
    position: relative;

    &--mtm {
      height: 2rem;
    }

    &--mission {
      height: 0rem;
      background-color: $greyWhite;
    }

    &--gb {
      height: 0rem;
    }

    .#{$block} {
      &__r-side-green {
        width: calc(100% / 2);
      }

      &__mtm-p-1 {
        left: -10rem;
      }

      &__mt-o-1 {
        left: -10rem;
      }

      &__mtm-p-2 {
        top: -8rem;
        right: -18rem;
      }

      &__mt-o-2 {
        top: 20rem;
        right: -16rem;
      }

      &__m_1 {
        position: relative;
        width: calc(100% / 2 );
        height: 8rem;
        z-index: 1;
        top: 0rem;
      }

      &__m_2 {
        display: none;
      }

      &__small-m_2 {
        display: block;
        position: absolute;
        top: -22rem;
        left: 0;

        width: 3rem;
        height: 28rem;

        z-index: 10;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__p_1 {
        position: absolute;
        top: -8rem;
        right: -1rem;
        width: 6rem;
        height: 18rem;
        z-index: 10;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__p_2 {
        position: absolute;
        top: -28rem;
        left: 0;
        width: 6.5rem;
        height: 34rem;
        z-index: 10;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__sic_1 {
        position: absolute;
        top: -16rem;
        left: 2rem;
        width: calc(100% / 1.5);
        height: 22rem;
        z-index: 4;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__sic_2 {
        position: absolute;
        top: -6rem;
        left: 0rem;
        width: calc(100% / 1.3);
        height: 22rem;
        z-index: 4;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__sic_3 {
        position: absolute;
        top: -4rem;
        right: 0;
        width: calc(100% / 2);
        height: 22rem;
        z-index: 4;

        img {
          width: 100%;
          height: 100%;
        }
      }
      
      &__grey-blob {
        position: relative;
        width: 100%;
        height: 2rem;
        top: -6rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}