$block: "careers-page";

.#{$block} {
  &__container {
    &--benefits {
      margin-bottom: $space-mid;
    
      .#{$block} {
        &__icons-container {
          .#{$block} {
            &__icon {
              width: calc(100% / 7);
              margin: rem-calc(25px);
            }
          }
        }
      }
    }
  }
}